.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  padding: 10rem 16rem;
  gap: 4rem;
}

.cartGrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
}

.total {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 60px;
  color: var(--primary-dark);
  font-weight: 500;
}

@media (max-width: 768px) {
  .total {
    font-size: 3rem;
  }
}