.heroSection {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection :global(.container) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffeeBeansImg2 {
  width: 750px;
  top: 12rem;
  left: 74%;
  z-index: 10;
  position: absolute;
  transform: rotate(40deg);
}

.coffeeBeansImg1 {
  width: 750px;
  top: 1rem;
  right: 79%;
  z-index: 10;
  position: absolute;
  transform: rotate(-78deg);
}

.shopTitle {
  font-family: "Yanone";
  text-align: center;
  padding: 2rem 5rem;
  font-size: 170px;
  color: var(--primary-dark);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.heroText {
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--primary-dark);
  padding: 2rem 16rem;
  text-align: center;
  
}

.featuredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  margin: 8rem 0 0 0;
  width: 100vw;
}

.featuredProduct {
  display: flex;
  font-family: "Yanone";
  margin: 0 4rem;
  font-weight: 500;
  font-size: 2rem;
  color: var(--primary-dark);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featuredProduct img {
  width: 200px;
  padding: 1.5rem 0;
}

.monthFeaturedTitle {
  color: var(--accent);
  font-size: 8rem;
  max-width: 350px;
  text-align: start;
}

.productBg {
  background-color: var(--primary-light);
  width: 220px;
  height: 460px;
  padding: 3rem 4rem;
  border-radius: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 1590px) {

  .coffeeBeansImg1 {
      top: 8rem;
    }
}

@media (max-width: 768px) {
  .coffeeBeansImg1 {
    top: 8rem;
  }

  .shopTitle {
    font-size: 8rem;
    padding: 0 2rem ;
  }

  .heroText {
    padding: 2rem;
    width: 400px;
  }

  .featuredProduct {
    flex-direction: column;
  }

  .monthFeaturedTitle {
    text-align: center;
    max-width: 100%;
    padding: 1rem 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .shopTitle {
    font-size: 5.5rem;
    flex-wrap: wrap;
    padding: 0 .5rem;
  }

  .heroText {
    padding: 1rem .5rem;
    font-size: 1rem;
    width: 230px;
  }

  .coffeeBeansImg2 {
    left: 70%;
  }
  
  .coffeeBeansImg1 {
    right: 70%;
  }

  .featuredProduct {
    margin: 0;
  }

  .featuredProduct img {
    width: 180px;
    padding: 0;
  }
  .productBg {
    max-width: 120px;
    max-height: fit-content;
  }

  .monthFeaturedTitle {
    font-size: 6rem;
    padding: 3rem 1rem;
  }

}