.heroSection {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection :global(.container) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffeeBeansImg2 {
  width: 750px;
  top: 12rem;
  left: 74%;
  z-index: 10;
  position: absolute;
  transform: rotate(40deg);
}

.coffeeBeansImg1 {
  width: 750px;
  top: 2rem;
  right: 79%;
  z-index: 10;
  position: absolute;
  transform: rotate(-78deg);
}

.shopTitle {
  font-family: "Yanone";
  padding: 2rem 0 0 0;
  font-size: 170px;
  color: var(--primary-dark);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.heroText {
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--primary-dark);
  padding: 2rem 0;
  text-align: center;
}

.featuredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  margin: 8rem 0 0 0;
  width: 100vw;
}

.featuredProduct {
  display: flex;
  gap: 4rem;
  font-family: "Yanone";
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-dark);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featuredProduct img {
  width: 250px;
}

.monthFeaturedTitle {
  color: var(--accent);
  font-size: 160px;
  width: 410px;
  text-align: start;
}

.productBg {
  background-color: var(--primary-light);
  width: 250px;
  height: 500px;
  padding: 3rem 4rem;
  border-radius: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}