.loading {
  font-family: "Montserrat";
  color: var(--primary-dark);
  display: flex;
  padding: 4rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  justify-content: center;
}

.cardGrid {
  padding: 7rem 0;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  row-gap: 3rem;
}

@media (max-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}

