.loading {
  font-family: "Montserrat";
  color: var(--primary-dark);
  display: flex;
  padding: 4rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  justify-content: center;
}

.cardGrid {
  padding: 7rem 0;
  display: grid;
  justify-content: space-between;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
}