:root {

  --primary-light: #E5D5C7;
  --primary-dark: #210B08;
  --secondary: #8C6340;
  --accent: #F8A0B9;
  --max-content-width: 1280px;
  --page-padding: 2rem;
}

body, html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/Montserrat-Italics.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/YanoneKaffeesatz.ttf");
}

a {
  text-decoration: none;
  color: inherit;        
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

.section {
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 0;
    max-width: 100%;  
  }
  
}





