:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primary-light: #E5D5C7;
  --primary-dark: #210B08;
  --secondary: #8C6340;
  --accent: #F8A0B9;
}

body, html {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--primary-light);
}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/Montserrat-Italics.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/YanoneKaffeesatz.ttf");
}

a {
  text-decoration: none;
  color: inherit;        
}

nav {
  font-family: "Montserrat";
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 25px;
  color: var(--secondary);
}