:root {

  --primary-light: #E5D5C7;
  --primary-dark: #210B08;
  --secondary: #8C6340;
  --accent: #F8A0B9;
  --max-content-width: 1280px;
  --page-padding: 2rem;
}

body, html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/Montserrat-Italics.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/YanoneKaffeesatz.ttf");
}

a {
  text-decoration: none;
  color: inherit;        
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div {
  font-family: "Montserrat";
  display: flex;
  gap: 2.5rem;
  font-size: 25px;
  color: var(--secondary);
}

nav svg {
  position: absolute;
  right: 5rem;
  top: 2rem;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

.section {
  padding: 2rem 0;
}

.loading {
  font-family: "Montserrat";
  color: var(--primary-dark);
}

.general-button {
  background-color: var(--accent);
  color: var(--secondary);
  border: none ;
  border-radius: .8rem;
  padding: .8rem .9rem;
  margin: .8rem;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  transition: all .2s;
  box-sizing: border-box;
}

.general-button:hover {
  transform: scale(1.1);
  background-color: var(--primary-dark);
  color: var(--accent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.general-button:active {
  transform: scale(1);
}
.cart-number {
  color: var(--primary-dark);
  font-size: 18px;
  font-weight: 500;
  width: 25px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--primary-light);
  position: absolute;
  right: 3.7rem;
  top: 1.1rem;
  padding: .3rem;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount-btn {
  width: 7rem;
  height: 4rem;
  display: flex;
  padding: .2rem .3rem;
  margin: .8rem 0;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary);
  background-color: var(--accent);
} 

.amount-btn button {
  transition: transform .3s ease;
}

.amount-btn button:hover {
  transform: scale(1.2);
}

.card-grid {
  padding: 7rem 0;
  display: grid;
  justify-content: space-between;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
}

.cart-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 30px;
  color: var(--secondary);
  padding: 80px;
}

.card {
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary);
  justify-self: center;
  width: 320px;
  height: 460px;
  padding: 1rem;
  border-radius: 6rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  align-items: center;
  justify-content: center;
  gap: .8rem;
}

.cart-card {
  display: flex;
  justify-content: start;
  background-color: var(--secondary);
  height: 12rem;
  border-radius: 2rem;
  font-size: 20px;
  font-family: "Montserrat";
  color: var(--primary-light);
  gap: 8rem;
  align-items: center;
}

.total {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 60px;
  color: var(--primary-dark);
  font-weight: 500;
}

.cart-card img {
  width: 105px;
  height: auto;
  padding: 1rem 4rem;
  object-fit: contain;
  display: flex;
  align-items: center;
}

.product-info-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.product-name-cart {
  width: 12rem;
  height: 4rem; 
  display: flex;
  align-items: center;
}

.product-price-cart {
  min-width: 110px;
}

.quantity-cart {
  min-width: 50px;
}

.card img {
  height: 230px;
  width: auto;
  padding: 1.5rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  text-wrap: wrap;
  align-items: center;
  text-align: center;
}

.product-name {
  font-family: "Yanone";
  color: var(--primary-light);
  font-weight: 500;
  font-size: 35px;
}

.product-price {
  color: var(--primary-light);
  font-size: 22px;
  font-weight: 400;
}

.hero-section {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-title {
  font-family: "Yanone";
  padding: 2rem 0 0 0;
  font-size: 170px;
  color: var(--primary-dark);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.coffee-beans-img-1 {
  width: 750px;
  top: 2rem;
  right: 79%;
  z-index: 10;
  position: absolute;
  transform: rotate(-78deg);
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-beans-img-2 {
  width: 750px;
  top: 12rem;
  left: 74%;
  z-index: 10;
  position: absolute;
  transform: rotate(40deg);
}

.hero-text {
  font-family: "Montserrat";
  font-size: 20px;
  color: var(--primary-dark);
  padding: 2rem 0;
  text-align: center;
}

.featured-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  margin: 8rem 0 0 0;
  width: 100vw;
}

.featured-product img {
  width: 250px;
}

.product-bg {
  background-color: var(--primary-light);
  width: 250px;
  height: 500px;
  padding: 3rem 4rem;
  border-radius: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featured-product {
  display: flex;
  gap: 4rem;
  font-family: "Yanone";
  font-weight: 500;
  font-size: 30px;
  color: var(--primary-dark);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.month-featured-title {
  color: var(--accent);
  font-size: 160px;
  width: 410px;
  text-align: start;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  padding: 10rem 16rem;
  gap: 4rem;
}

.delete-button {
  background-color: transparent;
  transition: transform .3s ease;
}

.delete-button:hover {
  transform: scale(1.2);
}

.checkout-buttons {
  display: flex;
  gap: 1rem;
}

