:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primary-light: #E5D5C7;
  --primary-dark: #210B08;
  --secondary: #8C6340;
  --accent: #F8A0B9;
}

body, html {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--primary-light);
}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/Montserrat-Italics.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/YanoneKaffeesatz.ttf");
}

a {
  text-decoration: none;
  color: inherit;        
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div {
  font-family: "Montserrat";
  display: flex;
  gap: 2.5rem;
  font-size: 25px;
  color: var(--secondary);
}

nav svg {
  position: absolute;
  right: 5rem;
  top: 2rem;
}

.loading {
  font-family: "Montserrat";
  color: var(--primary-dark);
}

.add-to-cart {
  background-color: var(--accent);
  color: var(--secondary);
  border: none ;
  border-radius: .8rem;
  padding: .5rem .8rem;
  margin: .8rem;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
}

.cart-number {
  color: var(--accent);
  font-size: 22px;
  font-weight: 500;
  font-family: "Montserrat";
  width: 25px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--primary-light);
  position: absolute;
  right: 4.4rem;
  top: 1.6rem;
  z-index: 1;
}

.amount-btn button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount-btn {
  width: 7rem;
  height: 4rem;
  display: flex;
  padding: .2rem .3rem;
  margin: .8rem 0;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary);
  background-color: var(--accent);
} 

.coffee-beans-img {
  padding: 3rem;
  width: 600px;
}

.card-grid {
  padding: 7rem 0;
  display: grid;
  justify-content: space-between;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
}

.cart-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 30px;
  color: var(--secondary);
  padding: 80px;
}

.card {
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary);
  justify-self: center;
  min-width: 300px;
  min-height: 440px;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  align-items: center;
}

.cart-card {
  display: flex;
  justify-content: start;
  background-color: var(--secondary);
  height: 12rem;
  border-radius: 2rem;
  font-size: 20px;
  font-family: "Montserrat";
  color: var(--primary-light);
  gap: 8rem;
  align-items: center;
}

.total , .total-title{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  font-family: "Montserrat";
  font-size: 60px;
  color: var(--primary-dark);
  font-weight: 500;
}

.cart-card img {
  width: 105px;
  height: auto;
  padding: 1rem 4rem;
  object-fit: contain;
  display: flex;
  align-items: center;

}

.product-info-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.product-name-cart {
  width: 12rem;
}

.card img {
  max-width: 180px;
  height: auto;
  padding: 1.3rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-name {
  font-family: "Yanone";
  color: var(--primary-light);
  font-weight: 500;
  font-size: 35px;
}

.product-price {
  color: var(--primary-light);
  font-size: 22px;
  font-weight: 400;
}