:root {

  --primary-light: #E5D5C7;
  --primary-dark: #210B08;
  --secondary: #8C6340;
  --accent: #F8A0B9;
  --max-content-width: 1280px;
  --page-padding: 2rem;
}

body, html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/Montserrat-Italics.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Yanone";
  src: url("./fonts/YanoneKaffeesatz.ttf");
}

a {
  text-decoration: none;
  color: inherit;        
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
}

.section {
  padding: 2rem 0;
}

.general-button {
  background-color: var(--accent);
  color: var(--secondary);
  border: none ;
  border-radius: .8rem;
  padding: .8rem .9rem;
  margin: .8rem;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  transition: all .2s;
  box-sizing: border-box;
}

.general-button:hover {
  transform: scale(1.1);
  background-color: var(--primary-dark);
  color: var(--accent);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.general-button:active {
  transform: scale(1);
}

.amount-btn {
  width: 7rem;
  height: 4rem;
  display: flex;
  padding: .2rem .3rem;
  margin: .8rem 0;
  border-radius: .5rem;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary);
  background-color: var(--accent);
} 

.amount-btn button {
  transition: transform .3s ease;
}

.amount-btn button:hover {
  transform: scale(1.2);
}

/* check where these go - either in Card.module.css or Button */
.delete-button {
  background-color: transparent;
  transition: transform .3s ease;
}

.delete-button:hover {
  transform: scale(1.2);
}



